@import url("reset.css");
html, body {
  font-family: 'Libre Franklin', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Navbar */
#wrapper_nav {
  opacity: .95;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 3;
}

#regular_nav {
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

#stationary_bar, #moving_bar {
  display: none;
}

#hamburger {
  position: absolute;
  right: 0px;
  top: 0px;
}

ul.regular_nav, ul.mobile_nav {
  background-color: #7e7e7e;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

ul.regular_nav li {
  float: left;
  width: 12.5%;
}

ul.regular_nav li a, ul.mobile_nav li a {
  color: #8b430e;
  display: inline-block;
  font-size: 15px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

ul li:hover a{
  background-color: white;
}

/* Main Content */
#wrapper_main {
  margin-left: auto;
  margin-right: auto;
  /* This helps with responive scaling */
  min-width: 80%;
  max-width: 1100px;
  padding-top: 5%;
  height: 100%;
}

#wrapper_about, #wrapper_web, #wrapper_code, #wrapper_ui, #wrapper_photos,
#wrapper_designs, #wrapper_drawings {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding-top: 5%;
}

/* Main Content Section */
.content {
  margin-top: 3%;
  line-height: 130%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* Home Section */
#wrapper_home {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#wrapper_home img {
  height: auto;
  width: 100%;
}

/* Footer - only shown on home cycle page */
#wrapper_home footer {
  background-color: rgba(128,128,128,0.4);
  bottom: 0;
  color: white;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  right: 0;
  text-align: center;
  width: 380px;
}

/* About Section */
#wrapper_about img {
  border-radius: 50%;
}

#wrapper_about h1 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 5px;
}

#wrapper_about a,a:link,a:visited {
 color: #8b430e;
 text-decoration:none;
}

/* Template Image Section */
.portfolio_piece {
  border-left: 1px solid rgba(128,128,128,0.05);
  border-right: 1px solid rgba(128,128,128,0.05);
  display: inline-block;
  padding-bottom: 2%;
  text-align: center;
  width: 30%;
  line-height: 150%;
  padding-left: 1%;
  padding-right: 1%;
  overflow: scroll;
  vertical-align: text-top;
  height: 525px;
}

.portfolio_piece::-webkit-scrollbar {
    /* Remove scrollbar space */
    width: 0px;
}

.portfolio_piece .left_date {
  float: left;
  color: #8b430e;
}

.portfolio_piece .right_live {
  float: right;
  color: #8b430e;
}

.portfolio_piece .created_with {
  font-size: 12px;
}

.portfolio_piece:hover {
  background-color: rgba(128,128,128,0.05);
}

.portfolio_piece p{
  text-align: left;
  word-wrap: break-word;
}

.portfolio_title h3 {
  font-weight: 800;
  font-size: 18px;
  line-height: 250%;
}

.portfolio_title img {
  height: 80%;
  width: 95%;
}

/* Individual Tweaks - to portfolio image template styling */
#wrapper_ui .portfolio_title img {
  height: 25%;
  width: 65%;
}

#wrapper_drawings .drawings_vertical {
  width: 65%;
  height: auto;
}

#wrapper_drawings .drawings_horizontal {
  padding-bottom: 44%;
}


@media screen and (max-width:980px) {
  /* Portfolio - Breaks into two rather than three items wide */
  .portfolio_piece {
    width: 47%;
  }

  #wrapper_ui .portfolio_title img {
    height: 30%;
    width: 45%;
  }

  #wrapper_drawings .drawings_vertical {
    width: 50%;
    height: auto;
  }

  #wrapper_drawings .drawings_horizontal {
    padding-bottom: 0;
  }
}


@media screen and (max-width:780px) {
  /* Mobile navbar */
  #wrapper_nav {
    text-align: left;
  }

  ul li:hover a {
    background-color: transparent;
  }

  ul li:hover {
    background-color: white;
  }

  /* Main Content Section */
  #wrapper_main {
    padding-top: 11%;
  }

  #wrapper_home p {
    width: 100%;
  }

  /* Portfolio - Breaks into one rather than two items wide */
  .portfolio_piece {
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid rgba(128,128,128,0.05);
    display: inline-block;
    height: auto;
    margin-right: 0%;
    text-align: center;
    width: 100%;
  }

  /* Individual Tweaks - to portfolio image template styling */
  #wrapper_ui .portfolio_title img {
    height: 15%;
    width: 35%;
  }

  #wrapper_drawings .drawings_vertical {
    height: auto;
    width: 35%;
  }

  #wrapper_drawings .drawings_horizontal {
    padding-bottom: 0;
    width: 80%;
  }
}
